<!doctype html>
{% load static %}
{% load staticfiles %}
<html lang="en">
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"/>
<title>BookTime</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
<a class="navbar-brand" href="/">BookTime</a>
<button
class="navbar-toggler"
type="button"
data-toggle="collapse"
data-target="#navbarSupportedContent">
<span class="navbar-toggler-icon"></span>
</button>
<div
class="collapse navbar-collapse"
id="navbarSupportedContent">
<ul class="navbar-nav mr-auto">
<li
class="nav-item">
<a class="nav-link {% if request.path == '/' %}active{% endif %} " href="/">Home</a>
</li>
<li
class="nav-item">
<a class="nav-link {% if request.path == '/about-us/' %}active{% endif %}" href="/about-us/">About us</a>
</li>
</ul>
</div>
</nav>
<h1>BookTime</h1>
{% for message in messages %}
<div class="alert">{{ message }}</div>

{% endfor %}
<div>
    {% if request.user.is_authenticated%}
    <p>
        you are logged in {{ user.email }}
    </p>
    {% endif %}
</div>
{% if request.basket %}
    <p>you have {{ request.basket.count }} item{{ request.basket.count|pluralize }} in basket
{% endif %}
{% block content %}
{% endblock content %}
<script src="{% static "js/jquery.min.js" %}"></script>
<script src="{% static "js/popper.min.js" %}"></script>
<script src="{% static "js/bootstrap.min.js" %}"></script>
{% block js %}
{% endblock js %}
</body>
</html>